{% ckan_extends %}

{% block meta %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="https://africaopendata.org/images/logos/open-africa.png" />
  <meta property="og:title" content="openAFRICA" />
  <meta property="og:description" content="CHUNG TAY GIẢM THIỂU RÁC THẢI NHỰA ĐẠI DƯƠNG. openAFRICA aims to be largest independent repository of open data on the African continent." />
  <meta property="og:url" content="https://africaopendata.org/" />
  <meta property="fb:app_id" content="835169686614108" />
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/openafrica_theme.css" />
{% endblock %}
