{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('Search for datasets...') %}

<div class="module module-search module-narrow module-shallow">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <h3 class="heading">JOINING FORCES TO MITIGATE MARINE PLASTIC DEBRIS</h3>
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ placeholder }}" />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
</div>
